In [1]:
import numpy as np
import pandas as pd

In [2]:
date=pd.read_csv('orders.csv')
time=pd.read_csv('messages.csv')

In [3]:
time.head()

                  date                                                msg
0  2013-12-15 00:50:00                           ищу на сегодня мужика 37
1  2014-04-29 23:40:00   ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826
2  2012-12-30 00:21:00           Днепр.м 43 позн.с д/ж *.о  067.16.34.576
3  2014-11-28 00:31:00  КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...
4  2013-10-26 23:11:00    Зая я тебя никогда не обижу  люблю тебя!)  Даше

In [4]:
date.head()

         date  product_id  city_id  orders
0  2019-12-10        5628       25       3
1  2018-08-15        3646       14     157
2  2018-10-23        1859       25       1
3  2019-08-17        7292       25       1
4  2019-01-06        4344       25       3

In [5]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   object
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [8]:
#converting datatype
date['date']=pd.to_datetime(date['date'])
time['date']=pd.to_datetime(time['date'])

In [9]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   datetime64[ns]
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 31.4 KB

In [18]:
date['Date_Y']=date['date'].dt.year  #year
date['Date_M']=date['date'].dt.month  # Month
date['Date_M_name']=date['date'].dt.month_name() # Month name
date['Date_D']=date['date'].dt.day # day
date['Date_DofW']=date['date'].dt.dayofweek # number of day in a week
date['Date_D_name']=date['date'].dt.day_name() # day name
date['Date_W']=date['date'].dt.isocalendar().week # week number
date['Date_Q']=date['date'].dt.quarter # quater
date['Date_IS_WEEKEND']=np.where(date['Date_D_name'].isin(['Saturday','Sunday']),1,0)
date['Date_Sem']=np.where(date['Date_Q'].isin([1,2]),1,2)
date.sample(10)

,date,product_id,city_id,orders,Date_Y,Date_M,Date_M_name,Date_D,Date_DofW,Date_D_name,Date_W,Date_Q,Date_IS_WEEKEND,Date_Sem
352,2018-12-03,27,10,40,2018,12,December,3,0,Monday,49,4,0,2
984,2019-11-23,528,0,3,2019,11,November,23,5,Saturday,47,4,1,2
305,2019-07-05,25,18,1,2019,7,July,5,4,Friday,27,3,0,2
787,2019-07-19,5371,22,8,2019,7,July,19,4,Friday,29,3,0,2
20,2019-11-30,1323,22,1,2019,11,November,30,5,Saturday,48,4,1,2
690,2018-12-16,3799,20,3,2018,12,December,16,6,Sunday,50,4,1,2
923,2018-11-23,1073,2,1,2018,11,November,23,4,Friday,47,4,0,2
529,2019-07-30,5698,0,1,2019,7,July,30,1,Tuesday,31,3,0,2
116,2019-04-23,4523,13,1,2019,4,April,23,1,Tuesday,17,2,0,1
119,2019-08-15,650,25,2,2019,8,August,15,3,Thursday,33,3,0,2

In [19]:
#Time Elapsed info
import datetime as dt
today=dt.datetime.today()
today

datetime.datetime(2025, 12, 26, 6, 6, 12, 239228)

In [20]:
today-date['date']

0     2208 days 06:06:12.239228
1     2690 days 06:06:12.239228
2     2621 days 06:06:12.239228
3     2323 days 06:06:12.239228
4     2546 days 06:06:12.239228
                 ...
995   2636 days 06:06:12.239228
996   2577 days 06:06:12.239228
997   2425 days 06:06:12.239228
998   2490 days 06:06:12.239228
999   2264 days 06:06:12.239228
Name: date, Length: 1000, dtype: timedelta64[ns]

In [21]:
(today-date['date']).dt.days

0      2208
1      2690
2      2621
3      2323
4      2546
       ...
995    2636
996    2577
997    2425
998    2490
999    2264
Name: date, Length: 1000, dtype: int64

In [23]:
#  Months passed
np.round((today -date['date']) / np.timedelta64(1,'m'),0)

0      3179886.0
1      3873966.0
2      3774606.0
3      3345486.0
4      3666606.0
         ...
995    3796206.0
996    3711246.0
997    3492366.0
998    3585966.0
999    3260526.0
Name: date, Length: 1000, dtype: float64

#WIth time

In [24]:
time['hour'] = time['date'].dt.hour
time['min'] = time['date'].dt.minute
time['sec'] = time['date'].dt.second

time.head()

,date,msg,hour,min,sec
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,0,50,0
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,23,40,0
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,0,21,0
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,0,31,0
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,23,11,0

In [25]:
today - time['date'] # time difference

0     4394 days 05:16:12.239228
1     4258 days 06:26:12.239228
2     4744 days 05:45:12.239228
3     4046 days 05:35:12.239228
4     4443 days 06:55:12.239228
                 ...
995   5033 days 05:16:12.239228
996   4354 days 06:52:12.239228
997   4819 days 06:29:12.239228
998   4935 days 06:32:12.239228
999   4207 days 06:41:12.239228
Name: date, Length: 1000, dtype: timedelta64[ns]

In [27]:
(today - time['date'])/np.timedelta64(1,'h') # time difference in hours

0      105461.270066
1      102198.436733
2      113861.753400
3       97109.586733
4      106638.920066
           ...
995    120797.270066
996    104502.870066
997    115662.486733
998    118446.536733
999    100974.686733
Name: date, Length: 1000, dtype: float64