<a href="https://colab.research.google.com/github/devarsh3453/NEW/blob/main/knowing_your_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [7]:
data=pd.read_csv('train_and_test2.csv')

In [9]:
data.shape

(1309, 28)

In [10]:
data.ndim

2

In [11]:
data.sample(10)

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
72,73,21.0,73.5000,0,0,0,0,0,0,0,...,0,0,0,2,0,0,2.0,0,0,0
607,608,27.0,30.5000,0,0,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
45,46,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
31,32,28.0,146.5208,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
1125,1126,39.0,71.2833,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,0
104,105,37.0,7.9250,0,2,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
979,980,28.0,7.7500,1,0,0,0,0,0,0,...,0,0,0,3,0,0,1.0,0,0,0
127,128,24.0,7.1417,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
555,556,62.0,26.5500,0,0,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,0
666,667,25.0,13.0000,0,0,0,0,0,0,0,...,0,0,0,2,0,0,2.0,0,0,0

In [12]:
data.isna().sum()

Passengerid    0
Age            0
Fare           0
Sex            0
sibsp          0
zero           0
zero.1         0
zero.2         0
zero.3         0
zero.4         0
zero.5         0
zero.6         0
Parch          0
zero.7         0
zero.8         0
zero.9         0
zero.10        0
zero.11        0
zero.12        0
zero.13        0
zero.14        0
Pclass         0
zero.15        0
zero.16        0
Embarked       2
zero.17        0
zero.18        0
2urvived       0
dtype: int64

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Passengerid  1309 non-null   int64
 1   Age          1309 non-null   int64
 2   Fare         1309 non-null   float64
 3   Sex          1309 non-null   int64
 4   sibsp        1309 non-null   int64
 5   zero         1309 non-null   int64
 6   zero.1       1309 non-null   int64
 7   zero.2       1309 non-null   int64
 8   zero.3       1309 non-null   int64
 9   zero.4       1309 non-null   int64
 10  zero.5       1309 non-null   int64
 11  zero.6       1309 non-null   int64
 12  Parch        1309 non-null   int64
 13  zero.7       1309 non-null   int64
 14  zero.8       1309 non-null   int64
 15  zero.9       1309 non-null   int64
 16  zero.10      1309 non-null   int64
 17  zero.11      1309 non-null   int64
 18  zero.12      1309 non-null   int64
 19  zero.13      1309 non-null   int64
 20  zero.14      1309 non-null   int64
 21  Pclass       1309 non-null   int64
 22  zero.15      1309 non-null   int64
 23  zero.16      1309 non-null   int64
 24  Embarked     1307 non-null   float64
 25  zero.17      1309 non-null   int64
 26  zero.18      1309 non-null   int64
 27  2urvived     1309 non-null   int64
dtypes: float64(2), int64(26)
memory usage: 286.5 KB

In [16]:
data['Age']=data['Age'].astype(int)

In [18]:
data.isnull().sum()

Passengerid    0
Age            0
Fare           0
Sex            0
sibsp          0
zero           0
zero.1         0
zero.2         0
zero.3         0
zero.4         0
zero.5         0
zero.6         0
Parch          0
zero.7         0
zero.8         0
zero.9         0
zero.10        0
zero.11        0
zero.12        0
zero.13        0
zero.14        0
Pclass         0
zero.15        0
zero.16        0
Embarked       2
zero.17        0
zero.18        0
2urvived       0
dtype: int64

In [19]:
data.describe()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
count,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.0,1309.0,1309.0,1309.0,1309.0,...,1309.0,1309.0,1309.0,1309.000000,1309.0,1309.0,1307.000000,1309.0,1309.0,1309.000000
mean,655.000000,29.484339,33.281086,0.355997,0.498854,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.294882,0.0,0.0,1.492731,0.0,0.0,0.261268
std,378.020061,12.916721,51.741500,0.478997,1.041658,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.837836,0.0,0.0,0.814626,0.0,0.0,0.439494
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.000000,0.0,0.0,0.000000,0.0,0.0,0.000000
25%,328.000000,22.000000,7.895800,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.000000,0.0,0.0,1.000000,0.0,0.0,0.000000
50%,655.000000,28.000000,14.454200,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.000000,0.0,0.0,2.000000,0.0,0.0,0.000000
75%,982.000000,35.000000,31.275000,1.000000,1.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.000000,0.0,0.0,2.000000,0.0,0.0,1.000000
max,1309.000000,80.000000,512.329200,1.000000,8.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.000000,0.0,0.0,2.000000,0.0,0.0,1.000000

In [20]:
data.columns

Index(['Passengerid', 'Age', 'Fare', 'Sex', 'sibsp', 'zero', 'zero.1',
       'zero.2', 'zero.3', 'zero.4', 'zero.5', 'zero.6', 'Parch', 'zero.7',
       'zero.8', 'zero.9', 'zero.10', 'zero.11', 'zero.12', 'zero.13',
       'zero.14', 'Pclass', 'zero.15', 'zero.16', 'Embarked', 'zero.17',
       'zero.18', '2urvived'],
      dtype='object')

In [26]:
data.drop(
    data.columns[5:12].append(data.columns[13:21]),
    axis=1,
    inplace=True
)

In [29]:
data.columns
data.shape

(1309, 13)

In [33]:
data.drop(data.columns[[7,8,10,11]],axis=1,inplace=True)

In [34]:
data.shape

(1309, 9)

In [35]:
data.columns

Index(['Passengerid', 'Age', 'Fare', 'Sex', 'sibsp', 'Parch', 'Pclass',
       'Embarked', '2urvived'],
      dtype='object')

In [37]:
data.describe()

,Passengerid,Age,Fare,Sex,sibsp,Parch,Pclass,Embarked,2urvived
count,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1307.000000,1309.000000
mean,655.000000,29.484339,33.281086,0.355997,0.498854,0.385027,2.294882,1.492731,0.261268
std,378.020061,12.916721,51.741500,0.478997,1.041658,0.865560,0.837836,0.814626,0.439494
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,328.000000,22.000000,7.895800,0.000000,0.000000,0.000000,2.000000,1.000000,0.000000
50%,655.000000,28.000000,14.454200,0.000000,0.000000,0.000000,3.000000,2.000000,0.000000
75%,982.000000,35.000000,31.275000,1.000000,1.000000,0.000000,3.000000,2.000000,1.000000
max,1309.000000,80.000000,512.329200,1.000000,8.000000,9.000000,3.000000,2.000000,1.000000

In [38]:
data.duplicated().sum()

np.int64(0)

In [39]:
data.corr()

,Passengerid,Age,Fare,Sex,sibsp,Parch,Pclass,Embarked,2urvived
Passengerid,1.000000,0.025592,0.031128,-0.013406,-0.055224,0.008942,-0.038354,-0.051518,-0.331493
Age,0.025592,1.000000,0.178272,-0.053098,-0.189857,-0.126104,-0.378088,-0.064715,-0.055708
Fare,0.031128,0.178272,1.000000,0.185681,0.160349,0.221635,-0.558683,-0.239212,0.173786
Sex,-0.013406,-0.053098,0.185681,1.000000,0.109609,0.213125,-0.124617,-0.099408,0.404020
sibsp,-0.055224,-0.189857,0.160349,0.109609,1.000000,0.373587,0.060832,0.066055,-0.014375
Parch,0.008942,-0.126104,0.221635,0.213125,0.373587,1.000000,0.018322,0.045216,0.054908
Pclass,-0.038354,-0.378088,-0.558683,-0.124617,0.060832,0.018322,1.000000,0.187349,-0.244686
Embarked,-0.051518,-0.064715,-0.239212,-0.099408,0.066055,0.045216,0.187349,1.000000,-0.093225
2urvived,-0.331493,-0.055708,0.173786,0.404020,-0.014375,0.054908,-0.244686,-0.093225,1.000000